# Allow any version of six
six
# Allow empty lines in requirements file

# Specify a particular version (not the latest) of attrs.
attrs==18.1.0 # Allow comments after a dependency

# Allow for a package with "extras"
passlib[argon2]
